<html>
    <title>Collector's Vault: Characters</title>
    <head>
        <h1>The Collector's Vault</h1>
        <link rel="stylesheet" href="style.css">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <nav>
        <a href="/">Home</a>
        <a href="about">About</a>
        <a href="character">Characters</a>
        <a href="comic">Comics</a>
        <a href="Contact">Contact Us</a>
    </nav>
    <body>
        <main>
            <h2>Marvel Characters</h2>
            <img id="mainImage" src="Characters.png" alt="Marvel Characters" width="600" height="400">
            <br>
            <h3>Pick your favorites!</h3>
            <table width='80%'>
                  <tr style='background-color:black; color:white; text-align:center;'>
                      <th>Name</th>
                      <th>Profile</th>
                      <th>Powers</th>
                      <th>Feedback</th>
                  </tr>
            <%_ for (const char of characters) { _%>
                  <tr>
                      <td><%= char.name %></td>
                      <td><%= char.profile %></td>
                      <td><%= char.powers %></td>
                      <td>
                        <div id="favoriteButton"><button id="Favorite-<%= char.name %>" onclick="javascript:Submit(document.getElementById('Favorite-<%= char.name %>'), document.getElementById('favoriteImage-<%= char.name %>'), '<%= char.name %>', 1);">Favorite?</button></div>
                        <h4>
                          <img id="favoriteImage-<%= char.name %>" src="Empty.png" alt="Empty" width="50" height="50">
                        </h4>
                      </td>
                        
                  </tr>
            <%_ } _%>
          </table>
        </main>
        <script>
            //Submit Function (Parameters from button)

            const Submit = async function (button, image, name, feedback) {
              console.log(button)
              console.log(image)
              console.log(name)
              console.log(feedback)


              button.innerHTML = `<small>Favorited!</small>`
              image.setAttribute('src', 'ThumbsUp.png')

              const data = {
                name: name,
                feedback: feedback
              }

              const response = await fetch('/feedback', {
                method: 'POST',
                headers: {
                  Accept: 'application/json',
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
              })

              const buttons = document.getElementById('buttons')
              if (response.ok) {
                const result = await response.json()
                if (result.ok) {
                buttons.innerHTML = '<strong>Thank you for your feedback!</strong>'
                return
                }

              } 
              buttons.innerHTML = '<strong>We couldn\'t record your feedback. Please try again later.</strong>'
            }
        </script>
    </body>
</html>